apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  env: dev
resources:
- backend/dev
- mysql/dev

helmGlobals:
  chartHome: ../../charts
helmCharts:
- name: vcluster
  releaseName: vcluster-audi
  valuesFile: vcluster/dev/values.yaml
  namespace: audi

